$fontSize:           18px;

//Font Family
$headingFont:        'BlowBrush';
$bodyFont:           'Miriam Libre', sans-serif;
$iconFont:           'hi-education-icon';

$h2 :                 1.6rem;

//Font Waights
$fontWeightLight:     300;
$fontWeightNormal:    400;
$fontWeightMedium:    500;
$fontWeightBold:      bold;
$fontWeightBlack:     900;

//Color
$primaryColor:        #253c63;
$secondaryColor:      #71d231;
$accentColor:         #ff7c14;

//Text Color
$primaryTextColor:    white;
$secondaryTextColor:  black;
$accentTextColor:     #ff7c14;
$whiteTextColor:      #ffffff;
